.player{
    img{
        width: 200px;
        height: 70px;

    }

    >span{
        position: relative;
        top: -50px;
        left: 100px;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
    }
}

.currentPlayer{
     img{
        margin-left: 50px;
    }

     >span{
        left: 150px !important;
    }
}