.mat-card-style{
    background-color: rgba(255, 255, 255, 0.241);
    width: 15%;
    height: 40%;
    position: fixed;
    bottom: 30%;
    right: 5%;
    border: 2px solid black;
    text-align: center;
    mat-card-header{ 
        font-size: 26px;
        font-weight: 500;
        text-decoration: underline;
        color: rgb(0, 0, 0);
    }
    mat-card-content{
        margin-top: 30px;
        color: rgb(0, 0, 0);
    }
}