.game-fielt {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 50%;

  >img {
    width: 80px;
    height: auto;
  }

}

.card-position {
  position: absolute;
  top: 50%;
  left: 50%;

  &:hover {
    border: 3px solid #f50404;
    border-radius: 7px;
    cursor: pointer;
    transform: scale(1.2) translateY(-10px);
  }
}

.draw-card-animation {
  animation: flyOut 600ms ease;
}

@keyframes flyOut {
  from {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }

  to {
    transform: translate(700px, -450px) rotate(25deg);
    opacity: 0;
  }
}

.show-card {

  animation: showCardAnim 1.7s, forwards;
}

@keyframes showCardAnim {
  0% {
    transform: translateY(170vh) scale(1.15) rotate(-6deg);
    opacity: 0;
  }

  55% {
    transform: translateY(0) scale(1.35) rotate(2deg);
    opacity: 1;
  }

  80% {
    transform: translateY(-150px) scale(0.92) rotate(0deg);
  }

  100% {
    transform: translateY(0px) scale(1) rotate(0deg);
    opacity: 1;
  }
}

.stack-of-cards {
  position: absolute;
}

.app-player-bar{
  display: block;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 20px;
}

.dnone {
  display: none;
}