.startscreen-content{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startbtn{
  position: relative; /* <- Container für absolute Kinder */
  display: inline-block;
    left: 0px;
    bottom: 341px;
    &:hover{
      cursor: pointer;
      transform: scale(1.05);
        transition: transform 0.2s, ease-in-out;
    }
}

.startbtn > img{
  width: 470px;
  height: auto;
  display: block;
}

.startbtn > h2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}