* {
    overflow-anchor: none;
    margin: 0;
    padding: 0;

    body {
        overflow: hidden; // verhindert Scrollen
        overscroll-behavior: none; // verhindert "bounce"/pull-to-refresh (je nach Browser)
    }
}

body {
    background-image: url('./assets/img/background-table.jpg');
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}